.AwareComponent {
  background: #555;
  position: fixed;
  right: 20px;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}


.transis-model{
  .prop-list {
    > li {

    }
  }
}